<div class="container"> 

  <form ng-submit="Add()" class="form-signin">
    
    
              <h1 class="form-signin-heading">Project WebId </h1>
                <input type="text" class="form-control" ng-model="type" placeholder="Type eg: Work">
                
                <input type="text" class="form-control" ng-model="email" placeholder="Email id ">
                <button class="btn btn-lg btn-primary btn-block submit-Add()" type="submit">Add</button>

    
            </form>
</div>